<footer class="w-full px-4 bg-grey text-white text-center">
    <p class="py-4 m-0">
        Tutto il contenuto di questo sito è <a href="https://www.github.com/lomby92/scheda-ais">open-source</a> e senza scopo
        di lucro.
    </p>
</footer>
