<footer class="w-full p-4 bg-grey text-white text-center">
    <p class="mb-2">
        Tutto il contenuto di questo sito è <a href="https://www.github.com/lomby92/scheda-ais" target="_blank"
            >open-source</a
        > e senza scopo di lucro.
    </p>
    <p>
        Sito web realizzato da: <b>Giacomo Lombardi</b> con il framework <a href="https://astro.build/" target="_blank"
            >Astro</a
        >
    </p>
</footer>
