---
export interface Props {
    title?: string | undefined;
}

const { title } = Astro.props;
---

<nav class="flex flex-row items-center w-full px-4 bg-white shadow-md shadow-grey">
    <img src="/logo.png" class="my-2 w-24" />
    <h1 class="mt-4 ml-2 text-grey">{title || "Scheda AIS"}</h1>
</nav>
