---
import Input from "./Input.astro";
import SheetSection from "./SheetSection.astro";
---

<SheetSection title="Intestazione">
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-2">
        <div class="col-span-1 lg:col-span-2">
            <div class="grid grid-cols-1 lg:grid-cols-3 gap-x-2">
                <div class="col-span-1 lg:col-span-3">
                    <Input
                        title="Degustatore"
                        inputAttributes={{
                            type: "text",
                            required: true,
                            name: "taster",
                        }}
                    />
                </div>
                <div class="col-span-1 lg:col-span-2">
                    <Input
                        title="Categoria vino"
                        inputAttributes={{
                            type: "text",
                            required: true,
                            name: "category",
                        }}
                    />
                </div>
                <div class="col-span-1">
                    <Input
                        title="Campione n°"
                        inputAttributes={{
                            type: "number",
                            step: "1",
                            min: "1",
                            name: "sample",
                        }}
                    />
                </div>
                <div class="col-span-1 lg:col-span-3">
                    <Input
                        title="Denominazione"
                        inputAttributes={{
                            type: "text",
                            required: true,
                            name: "denomination",
                        }}
                    />
                </div>
                <div class="col-span-1 lg:col-span-2">
                    <Input
                        title="Titolo alcolometrico"
                        inputAttributes={{
                            type: "number",
                            required: true,
                            step: "0.1",
                            min: "0",
                            max: "100.0",
                            name: "alcoholVolume",
                        }}
                    />
                </div>
                <div class="col-span-1">
                    <Input
                        title="Annata"
                        inputAttributes={{
                            type: "number",
                            step: "1",
                            min: "1900",
                            name: "year",
                        }}
                    />
                </div>
            </div>
        </div>
        <div class="col-span-1">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-x-2">
                <div class="col-span-1">
                    <Input
                        title="Temperatura vino"
                        inputAttributes={{
                            type: "number",
                            step: "0.1",
                            min: "-20",
                            max: "30",
                            name: "wineTemperature",
                        }}
                    />
                </div>
                <div class="col-span-1">
                    <Input
                        title="Temperatura ambiente"
                        inputAttributes={{
                            type: "number",
                            step: "0.1",
                            min: "-30",
                            max: "50",
                            name: "environmentTemperature",
                        }}
                    />
                </div>
                <div class="col-span-1">
                    <Input title="Data" inputAttributes={{ type: "date", name: "day" }} />
                </div>
                <div class="col-span-1">
                    <Input title="Ora" inputAttributes={{ type: "time", name: "time" }} />
                </div>
                <div class="col-span-1 lg:col-span-2">
                    <Input title="Luogo" inputAttributes={{ type: "text", name: "place" }} />
                </div>
            </div>
        </div>
    </div>
</SheetSection>
